<!-- views/account/login.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  <%- messages()%>
  <form id="loginForm" action="/account/login" method="post">
    <label for="email">Email:</label>
    <input type="email" name="account_email" id="email" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" name="account_password" id="password" required>
    <br>
    <button type="submit">Login</button>
  </form>
</body>
</html>
